<template>
  <form @submit.prevent="postCar">
    <div class="form-group">
      <label class="col-md-4 control-label" for="model">Modèle du véhicule</label>
      <div class="col-md-4">
        <input
          id="model"
          v-model="model"
          type="text"
          placeholder="Modèle du véhicule"
          class="form-control input-md"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="registration">Plaque d'immatriculation</label>
      <div class="col-md-4">
        <input
          id="registration"
          v-model="registration"
          type="text"
          placeholder="Plaque d'immatriculation"
          class="form-control input-md"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="fuel" required>Selectionner votre carburant</label>
      <div class="col-md-4">
        <select id="fuel" v-model="fuel" class="form-control">
          <option value="diesel">Diesel</option>
          <option value="essence">Essence</option>
          <option value="hybride">Hybride</option>
          <option value="electrique">Electrique</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="power">Puissance fiscale</label>
      <div class="col-md-4">
        <input
          id="power"
          v-model="power"
          type="number"
          placeholder="Puissance fiscale"
          class="form-control input-md"
          required
        />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </form>
</template>
<script>
import VueRouter from 'vue-router'
export default {
  data() {
    return {
      csrf: document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content"),
      model: "",
      registration: "",
      fuel: "",
      power: ""
    };
  },
  mounted() {
  },
  methods: {
    postCar() {
      axios
        .post("/car", {
          model: this.model,
          registration: this.registration,
          fuel: this.fuel,
          power: this.power
        })
        .then(response => {
          console.log(response);
          this.$toasted.global.success("Véhicule ajouté avec succès");
          this.$router.push('cars');
        })
        .catch(error => {
          console.log('Error' + error);
          this.$toasted.global.error("Erreur lors de l'ajout du véhicule");
        });
    }
  }
};
</script>
