<template>
    <div>
        <p>
            <router-link :to="{ name: 'trips' }">Trajets</router-link> |
            <router-link :to="{ name: 'cars' }">Voiture</router-link>
        </p>

        <div class="container">
            <transition :name="transitionName">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>
<script>
    export default {
      name: 'App',
  data(){
      return {
          transitionName:''
      }
  },
  watch: {//Use watch to monitor changes in $router
    $route(to, from) {
      //If the to index is larger than the from index, it is judged to be in the forward state, and vice versa, in the backward state.
      if(to.meta.index > from.meta.index){
        //Setting Animation Name
        this.transitionName = 'slide-left';
      }else{
        this.transitionName = 'slide-right';
      }
    }
  }
    }
</script>
<style>
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 500ms;
  position: absolute;
}
.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
/* .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
} */
/* .fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to{
  transform: translateX(10px);
  opacity: 0;
} */
</style>