<template>
  <div class="container">
    <a role="button" class="btn btn-primary" @click="$router.push('addtrip')">Ajouter</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Départ</th>
          <th scope="col">Arrivée</th>
          <th scope="col">Distance</th>
          <th scope="col">Compensation</th>
          <th scope="col">Véhicule</th>
          <th scope="col">Gestion</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="trip in trips" :key="trip.id">
          <td>{{ trip.date }}</td>
          <td>{{ trip.start }}</td>
          <td>{{ trip.end }}</td>
          <td>{{ trip.distance }}</td>
          <td>{{ trip.compensation }} Euros</td>
          <td>{{ trip.car.model }}</td>
          <td class="row">
            <a
              role="button"
              class="btn btn-primary"
              @click="$router.push({ name: 'edittrip', params: {id: trip.id }})"
            >Modifier</a>
            <button class="btn btn-danger" @click="deleteTrip(trip.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      trips: {}
    };
  },
  mounted() {
    this.getTrips();
  },
  methods: {
    getTrips() {
      axios.get("/gettrips").then(response => {
        this.trips = response.data;
      });
    },
    deleteTrip(id) {
      console.log(id)
      axios
        .delete("trip/" + id)
        .then(response => {
          console.log(response);
          this.$toasted.global.success("Trajet supprimé avec succès");
          // this.$router.push("trips");
          this.getTrips();
        })
        .catch(error => {
          console.log(error);
          this.$toasted.global.error(
            "Error lors de la suppression du trajet"
          );
        });
    }
  }
};
</script>
